<div class="container">
  <div class="about-content">
    <h1>About</h1>
    
    <p>This Behavioural Science jobs board is an outgrowth of a lovely WhatsApp community of behavioural scientists in the UK. People in the group share links and roles that they find elsewhere. As such, this is not a structured page, with a bunch of details - just a collection of links.</p>
    
    <p>If you have a link that you'd like to share, you can <%= link_to "submit it in our form", new_job_submission_path, class: "url-link" %>, and we'll format it and put it up for you.</p>
    
    <p>If you would like to get in touch with the admin, just <%= link_to "make a job submission", new_job_submission_path, class: "url-link" %> and put that in the description!</p>
  </div>
</div>