<div class="container">
  <h1>Behavioural Science Jobs Board</h1>

  <div class="job-listings">
    <% @job_postings.each do |job_posting| %>
      <%= render 'job_card', job_posting: job_posting %>
    <% end %>
  </div>

  <% if @job_postings.empty? %>
    <p class="empty-state">No jobs posted yet.</p>
  <% end %>
</div>