<div class="container">
  <div class="admin-nav">
    <%= link_to "â† Back to Admin", admin_job_postings_path, class: "url-link" %>
  </div>

  <h1>Add New Job Posting</h1>
  <p class="form-intro">Create a new job posting. Check "Approved for publication" to make it visible immediately.</p>

  <div class="form-container">
    <%= render 'form', job_posting: @job_posting %>
  </div>
</div>